<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.itexico.utilities.lockmydevice">


    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".DeviceApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name">

        <activity
            android:name=".activities.UnlockActivity"
            android:clearTaskOnLaunch="true"
            android:enabled="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:stateNotNeeded="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <!-- The following two intent-filters are the key to set homescreen -->
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.ListDevicesActivity"
            android:enabled="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable"
                android:value=".activities.ListDevicesActivity" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>


        <activity
            android:name=".activities.DeviceInfoDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />


        <service android:name=".service.DeviceService" />
        <receiver
            android:name=".receiver.UnlockReceiver"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter
                android:enabled="true"
                android:exported="false">
                <action android:name="android.intent.action.SCREEN_ON" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.intent.action.SCREEN_OFF" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
